@import "tailwindcss";
@import "@nuxt/ui";

body {
  font-family: 'Poppins', sans-serif;
}

/* Hide scrollbar but keep scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;     /* Firefox */
}